body {
  margin: 0px;
}
main{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  "header header"
  "nav section"
  "nav footer"
}

header{
  grid-area: header;
  background: lightblue;
  height: 2em;
}
footer{
  grid-area: footer;
  background: lightcoral;
  text-align: center;
  height: 2em;
}
section{
  grid-area: section;
  background: lightgreen;
  height: calc(100vh - 4em);  
}
article{
  background: lightyellow;
}
nav{
  grid-area: nav;
  background: lightseagreen;
}
